<div class="py2 post-footer">
  <img src="/images/logo.png" alt="{{ site.author }}" class="avatar" />
  <p>
      My name is Parham Doustdar. I am a completely blind back-end programmer who enjoys writing code with a coverage of above 90%, communicating with people better than himself, and improving himself every day.
  </p>
  <p>
    Friend me on <a href="https://facebook.com/parham90">Facebook</a>, follow me on <a href="https://twitter.com/pd90">Twitter</a>, or <a href="/contact">hire me!</a>!
  </p>
</div>
